@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>

       Bookstores are essential community hubs that foster culture, curiosity, and a love of reading, and we're committed to helping them thrive.
       We created the shop because as we recognised how difficult it was to find books written by people like us, or with characters that looked like us. So now we have BookApp: a space dedicated to making it easier for you to find books with bookname and reserve it.
    </h4>
    <p></p>
</div>
