@model bookApp.Models.Book

@{
    ViewData["Title"] = "Search";
}


<h1>Search Book</h1>

<hr />
<div class="custom-column">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <form asp-action="Search">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="Search" class="control-label"></label>
                            <input asp-for="BookName" placeholder="Enter Bookname" class="form-control" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" value="Search" class="btn btn-primary search" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}